$color_red: #ef3e2d;
$color_lightblue: #6dcff6;
$color_gray: #5c5d60;
$color_black: #212a2f;
$color_white: #ffffff;

$font_primary: freight-sans-pro, Arial, sans-serif;
$font_secondary: 'Merriweather', serif;
