@use '../styles/abstracts/vars';
@use '../styles/abstracts/mixins';

.artist {
	&_card {
		//background-color: pink;
		text-align: center;
		margin-top: 1.5rem;
		margin-bottom: 3rem;
	}
	&_image {
		border-radius: 50%;
		overflow: hidden;
	}
	&_name {
		font-family: vars.$font_primary;
		text-transform: none;
		margin-top: 1rem;
		font-size: 1.5rem;
		margin-bottom: 1rem;
		a {
			text-decoration: none;
			color: #000;
		}
	}
	&_year {
		margin-bottom: .5rem;
	}
	&_role {
		font-family: vars.$font_secondary;
		font-size: .8rem;
		span {
			margin-left: .5rem;
			margin-right: .5rem;
		}
	}
}
