@use '../styles/abstracts/vars';

.btn-ui {
	border: 0;
	width: 3rem;
	height: 3rem;
	background-color: transparent;
	cursor: pointer;
	&.close {
		position: absolute;
		top: 1rem;
		right: 1rem;
	}
	&.menu {
		background-color: vars.$color_red;
		img {
			width: 1.5rem !important;
			height: 1.5rem !important;
		}
	}
	&.circle {
		border-radius: 3rem;
	}
}
.flyoutCloseBtn {
	position: absolute;
	top: 1rem;
	right: 1rem;
}
