@use '../styles/abstracts/mixins';

.col {
	padding-left: .5rem;
	padding-right: .5rem;
	width: 100%;
	margin-bottom: 1rem;
	@for $i from 1 through 12 {
		&--#{$i} {
			width: calc(100% * (#{$i}/12));
		}
	}
	&.vertical-align {
		display: flex;
		flex-direction: column;
		justify-content: center;
	}
	//background-color: hotpink;
	
	@include mixins.breakpoint(xs){
		&.xs--auto {
			width: 100%;
		}
		@for $i from 1 through 12 {
			&.xs--#{$i} {
				width: calc(100% * (#{$i}/12));
			}	
		}
	} //phone ends
	
	@include mixins.breakpoint(sm){
		&.sm--auto {
			width: 100%;
		}
		@for $i from 1 through 12 {
			&.sm--#{$i} {
				width: calc(100% * (#{$i}/12));
			}	
		}
	} // col tablet
	@include mixins.breakpoint(md){
		&.md--auto {
			width: 100%;
		}
		@for $i from 1 through 12 {
			&.md--#{$i} {
				width: calc(100% * (#{$i}/12));
			}	
		}
	} // col tablet
	@include mixins.breakpoint(lg){
		&.lg--auto {
			width: 100%;
		}
		@for $i from 1 through 12 {
			&.lg--#{$i} {
				width: calc(100% * (#{$i}/12));
			}	
		}
	} // col tablet
	@include mixins.marginTops();
	@include mixins.marginBottoms();
	@include mixins.textAligns();
	@include mixins.flexDirections();
	@include mixins.justifyContents();
	@include mixins.alignItems();
} // col

