@use '../styles/abstracts/mixins';

.row {
    //background-color: darksalmon;
    display: flex;
    flex-wrap: wrap;
	margin: 0 -.5rem;
	position: relative;
	z-index: 1;
	@include mixins.justifyContents();
	@include mixins.alignItems();
	@include mixins.flexDirections();
	@include mixins.marginBottoms();
}
