@use '../abstracts/vars';
@use '../abstracts/mixins';

h1 {
	font-family: vars.$font_primary;
	font-size: 2rem;
	line-height: 1;
	text-transform: uppercase;
	font-weight: 700;
	margin-bottom: 1rem;
	@include mixins.breakpoint(sm) {
		font-size: 2rem;
	}
	@include mixins.breakpoint(md) {
		font-size: 2.5rem;
	}
	@include mixins.breakpoint(lg) {
		font-size: 3rem;
	}
	@include mixins.breakpoint(xl) {
		font-size: 4rem;
	}
}
h2 {
	font-family: vars.$font_primary;
	font-size: 1rem;
	text-transform: uppercase;
	font-weight: 700;
	margin-bottom: 1rem;
	@include mixins.breakpoint(sm) {
		font-size: 1.5rem;
	}
	@include mixins.breakpoint(md) {
		font-size: 3rem;
	}
	&.dek {
		text-transform: none;
		font-style: italic;
		font-weight: 300;
	}
}
h3 {
	font-family: vars.$font_primary;
	font-size: 1rem;
	text-transform: uppercase;
	font-weight: 700;
	margin-bottom: 1rem;
	@include mixins.breakpoint(sm) {
		font-size: 1.1rem;
	}
	@include mixins.breakpoint(md) {
		font-size: 1.2rem;
	}
}
h4 {
	font-family: vars.$font_primary;
	font-size: 0.9rem;
	text-transform: uppercase;
	font-weight: 700;
	margin-bottom: 1rem;
	@include mixins.breakpoint(sm) {
		font-size: 1rem;
	}
	@include mixins.breakpoint(md) {
		font-size: 1.1rem;
	}
	span.pipe {
		color: vars.$color_red;
		margin-left: 0.25rem;
		margin-right: 0.25rem;
		font-weight: 300;
	}
	span.title {
		font-weight: 400;
		font-style: italic;
		text-transform: none;
	}
}
p {
	font-size: 1rem;
	font-family: vars.$font_secondary;
	line-height: 1.4;
	margin-bottom: 1rem;
	&.intro {
		font-size: 1.5rem;
		font-family: vars.$font_primary;
		font-weight: 300;
	}
}
